@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';
@plugin '@tailwindcss/typography';

@import 'tw-animate-css';

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}